# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Simple Chatty Bot (Kotlin)/*
!/Simple Chatty Bot (Kotlin)/task/
/Simple Chatty Bot (Kotlin)/task/*
!/Simple Chatty Bot (Kotlin)/task/src
